#test{
    background-color: aqua;
}




.gridCell:hover{
    background-color: black;
}


#siteContainer{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-left: 200px;

}

#gridContainer{
    display: grid;
    border-style: solid;
    flex: 0.5 1 0%;

}

#colourContainer{
    display: flex;
    flex-flow: column wrap;
    border-style: solid;
    flex-grow: 0;
    
    
}